/*  your css code here. If applicable */

.grid-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}


.grid-item {
	background-color: lightgray;
	height: 150px;
	width: 200px;
	border-radius: 5px;
	font-size: 40px;
}